@layout CoreUserLayout
@page "/account/login"


<div class="main__b__0">
    <div class="login">
        <Card Class="login-pre">
            <Form Model="@_loginModel" OnFinish="HandleSubmit">
                <ChildContent>
                    <FormItem>
                        <AntDesign.Input Placeholder="用户名" Size="large" @bind-Value="@context.Username">
                            <Prefix><Icon Type="user" /></Prefix>
                        </AntDesign.Input>
                    </FormItem>
                    <FormItem>
                        <AntDesign.Input Placeholder="密码" Size="large" @bind-Value="@context.Password" Type="password">
                            <Prefix><Icon Type="lock" /></Prefix>
                        </AntDesign.Input>
                    </FormItem>
                    <Button Type="primary" HtmlType="submit" Class="submit" Size="large" Block>登  陆 </Button>
                    <FormItem>
                        <Checkbox @bind-Value="@context.RememberMe">记住我！</Checkbox>
                        <a style="float: right;">
                            忘记密码？
                        </a>
                    </FormItem>
                </ChildContent>
            </Form>
        </Card>
    </div>
</div>

