@import '~antd/es/style/themes/default.less';

.main__b__0 {
    display: flex;
    justify-content: center;
    align-items: Center;
    margin: 0 auto;
    height: 100%;

    @media screen and (max-width: @screen-sm) {
        width: 95%;
    }

    .login {
        width: 500px;
    }

    .login-pre {
        margin: 12px 0;
        padding: 12px 20px;
        background: @input-bg;
        box-shadow: @card-shadow;
    }
    .submit{
        margin-top: 30px;
    }
}
