@namespace Mbill.Admin.Components
@inherits AntDomComponentBase

<div class=@($"{_prefixCls} {_prefixCls}-inline") >
	@ChildContent
	<Space>
		<SpaceItem>
			<Button Type="@ButtonType.Primary" OnClick="HandleOnSearch">
				查询
			</Button>
		</SpaceItem>
		<SpaceItem>
			<Button Type="@ButtonType.Primary" OnClick="HandleOnRest">
				重置
			</Button>
		</SpaceItem>
	</Space>
</div>