
<GlobalFooter Links="Links">
    <Copyright>
        @if (!string.IsNullOrEmpty(Copyright))
        {
            <div>
                Copyright <Icon Type="copyright" /> @Copyright
            </div>
        }
    </Copyright>
</GlobalFooter>

@code {
    public string Copyright { get; set; } = "2021 Memoyu";

    public LinkItem[] Links { get; set; } =
    {
        new LinkItem
        {
            Key = ".NET 5",
            Title = ".NET 5",
            Href = "https://pro.ant.design",
            BlankTarget = true,
        },
        new LinkItem
        {
            Key = "github",
            Title = (RenderFragment)(@<Icon Type="github" />),
            Href = "https://github.com/Memoyu",
            BlankTarget = true,
        },
        new LinkItem
        {
            Key = "Ant Design Pro",
            Title = "Ant Design Pro",
            Href = "https://pro.ant.design",
            BlankTarget = true,
        }
    };

}
