@using mbill_blazor_admin.Components
@inherits LayoutComponentBase

<div class="container__b__0">
    <div class="content">
        <div class="top">
            <div class="header">
                <a>
                    <img alt="logo" class="logo" src="./logo.svg" />
                    <span class="title">MBILL</span>
                </a>
            </div>
        </div>
        @Body
    </div>
    <CustomFooter />
</div>